*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
div{
    height: 50%;
    width: 25%;
    overflow-y: scroll;
    text-align: justify;
}
button{
    width: 25%;
    margin-top: 10px;
}