*{
    box-sizing: border-box;
    border: 0;
    margin: 0;
}
.error{
    color: red;
    font-size: 0.9em;
    display: flex;
    align-items: center;
    &::before{
        content: url('./img/circle-exclamation-solid-full.svg');
        font-size: 30px;
        color: red;
    }
    & img{
        width: 10px;
    }
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}
form{
    border: 2px solid black;
    padding: 3%;
}
