*{
    box-sizing: border-box;
}

body{
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 30px;
}

table{
    margin: 0 auto;
    border-collapse: collapse;
    width: 70%;
}

td, th{
    border: 2px solid black;
    padding: 10px;
}

button{
    padding: 5px 10px;
    cursor: pointer;
}

.chachi{
    color: white;
    background-color: purple;
    padding: 3px;
    border-radius: 5px;
}
